# Log Files
*.log

# Python Cache Files
**/__pycache__/

# pytest module Cache Files
.pytest_cache

# Lux-AI errorlogs
errorlogs

# Lux-AI replays
replays
replay.json

# My (Local) TODO List
TODO.txt